<h1><%= @component.name %></h1>
<ul class="bbl-list">
  <% @component.lists.each do |list| %>
  <li class="check">
    <div>
      <%= check_box_tag (:list)%>
      <div><%= list.content %></div>
    </div>
    <div class="edit-delete">
      <%= link_to "edit", edit_list_path(list) %>
      <%= button_to list_path(list), method: :delete do %>
        delete
      <% end %>
    </div>

  </li>
  <% end %>
</ul>

<div class="link"><%= link_to "Add list", new_component_list_path(@component) %></div>
