<%# Checks to see which page we are in and renders the correct function to the add button. %>

<% if params[:controller] == "categories" %>

  <% unless @category.nil? || @sorted.nil? || @sorted.count >= 6 %>
    <div class="dropup">
      <a href="#avatar">➕</a>
      <div class="dropup-content dropup-content-btm drp-cnt-cent" style="display: none;">
        <ol>
          <%= link_to "Checklist",  new_category_category_checklist_path(@category) %>
          <%= link_to "Note",  new_category_category_note_path(@category) %>
          <%= link_to "Task",  new_category_task_path(@category)  %>
        </ol>
      </div>
    </div>
  <% else %>
    ➕
  <% end %>


<% elsif params[:controller] == "tasks" %>

  <% unless @task.nil? || @sorted.nil? || @sorted.count >= 6 %>
    <div class="dropup">
      <a href="#avatar">➕</a>
      <div class="dropup-content drp-cnt-cent" style="display: none;">
        <%= link_to "Checklist",  new_task_task_checklist_path(@task) %>
        <%= link_to "Note",  new_task_task_note_path(@task) %>
      </div>
    </div>
  <% else %>
    ➕
  <% end %>

<% else %>
  ➕
<% end %>
