<div class="main-tlist-ttl">
  <h1 class="tlist-ttl"><%= @note.title %></h1>
  <% if params[:controller] == "task_notes" %>
    <%= link_to "âœï¸", edit_task_note_path(@note) %>
    <%= button_to task_note_path(@note), method: :delete do %>
      ðŸ—‘
    <% end %>
  <% else %>
    <%= link_to "âœï¸", edit_category_note_path(@note) %>
    <%= button_to category_note_path(@note), method: :delete do %>
      ðŸ—‘
    <% end %>
  <% end %>
</div>
<div class="main-note">
  <p><%= @note.content %></p>
</div>
