<div class="main-tlist-ttl">
  <h1 class="tlist-ttl"><%= @category_checklist.name %></h1>
  <%= link_to "âœï¸", edit_category_checklist_path(@category_checklist) %>
  <%= button_to category_checklist_path(@category_checklist), method: :delete do %>
    ðŸ—‘
  <% end %>
  </div>
</div>

<div data-controller="cat-item">
  <div class="progress-bar">
    <div data-cat-item-target="progression" id="progression"></div>
  </div>

  <ul class="list-items">
    <% @category_checklist.category_checklist_items.each do |item| %>
      <li class="check">

        <div>
          <input class="check-item category" type="checkbox"
                      data-id= <%=item.id%>
                      data-name= <%= @name %>
                      data-action="cat-item#toggle"
                      data-cat-item-target="state"
                      <%# data-progress-target="item" %>
                      <% if item.state %> checked <% end %>>
          <%= item.description %>
        </div>

        <div class="edit-delete">
          <%= link_to "âœï¸", edit_category_checklist_category_checklist_item_path(item) %>
          <%= button_to category_checklist_item_path(item), method: :delete do %>
            ðŸ—‘
          <% end %>
        </div>

      </li>
    <% end %>
  </ul>
</div>
<div class="link-container">
  <div class="link">
    <%= link_to "Add item", new_category_checklist_category_checklist_item_path(@category_checklist) %>
  </div>
</div>
