<%= @category_checklist.name %>

 <div class="progress-bar mb-3">
  <div id="progression"></div>
</div>

<ul>
  <% @category_checklist.category_checklist_items.each do |item| %>
    <li class="check">

      <div>
        <input type="checkbox" class="check-item">
        <%= item.description %>
      </div>

      <div class="edit-delete">
        <%= link_to "edit", edit_category_checklist_item_path(item) %>
        <%= button_to category_checklist_item_path(item), method: :delete do %>
          delete
        <% end %>
      </div>

    </li>
  <% end %>
</ul>
<div class="link"><%= link_to "Add list", new_category_checklist_category_checklist_item_path(@category_checklist) %></div>
<script>
  fetch(url)
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
        });
</script>
