<ul>
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category) %>
  <% end %>
</ul>

<div class="bbl-container">
  <div class="top-display">
  <div class="top-lines">
    <div class="line-tp-lft"></div>
    <div class="line-tp-cent"></div>
    <div class="line-tp-right"></div>
  </div>
    <%= link_to @categories[0], class:"bottom", style:"text-decoration: none;" do %>
      <div class="bbl bbl-blue"><%= @categories[0].name.capitalize %></div>
    <% end %>

    <%= link_to @categories[1], style:"text-decoration: none;" do %>
      <div class="bbl bbl-pink"><%= @categories[1].name.capitalize %></div>
    <% end %>

    <%= link_to @categories[2], class:"bottom", style:"text-decoration: none;" do %>
      <div class="bbl bbl-yellow"><%= @categories[2].name.capitalize %></div>
    <% end %>
  </div>

  <div class="main-bbl-container">
    <div class="main-bbl">
      <h1 class="main-title">Home</h1>
    </div>
  </div>

  <div class="bottom-display">
    <div class="btm-lines">
      <div class="line-btm-lft"></div>
      <div class="line-btm-cent"></div>
      <div class="line-btm-right"></div>
  </div>
     <%= link_to @categories[3], style:"text-decoration: none;" do %>
      <div class="bbl bbl-red"><%= @categories[3].name.capitalize %></div>
    <% end %>

     <%= link_to @categories[4], class:"bottom", style:"text-decoration: none;" do %>
      <div class="bbl bbl-aqua"><%= @categories[4].name.capitalize %></div>
    <% end %>

     <%= link_to @categories[5], style:"text-decoration: none;" do %>
      <div class="bbl bbl-purple"><%= @categories[5].name.capitalize %></div>
    <% end %>
  </div>
</div>
